<h2>User info</h2>
<% if @user.errors.any? %>
  <div class="error_explanation">
    <h3><%= pluralize(@user.errors.count, "error") %> prohibited this obj from being saved:</h3>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_for(@user) do |f| %>
<h3>Name</h3>
  <%= f.text_field :name, autofocus: true, id:"inputName", class: "field" %>
  
<h3>Introduction</h3>
  <%= f.text_area :introduction, autofocus: true, id:"inputInto", class: "introduction" %>

  <h4>Profile画像</h4>
  <label class="control-label sr-only" for="inputEmail">ProfileImage</label>
  <%= f.attachment_field :profile_image, class: "form-control-file action" %>
  <%= f.submit "Update User", class: "btn btn-primary action" %>
<% end %>